# # after building here we trigger downstream pipelines now
# downstream_controller:
#   stage: deploy
#   needs:
#     - publish_pypi
#   trigger:
#     project: "pve-cloud/pve-cloud-controller"
#   variables:
#     PY_PVE_CLOUD: $CI_COMMIT_TAG
#     UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE # here we store the type of the release
#   rules:
#     - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver
#     - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

# downstream_backup:
#   stage: deploy
#   needs:
#     - publish_pypi
#   trigger:
#     project: "pve-cloud/pve-cloud-backup"
#   variables:
#     PY_PVE_CLOUD: $CI_COMMIT_TAG
#     UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE # here we store the type of the release
#   rules:
#     - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver
#     - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

# downstream_pve_cloud:
#   stage: deploy
#   needs:
#     - publish_pypi
#   trigger:
#     project: "pve-cloud/pve_cloud"
#   variables:
#     PY_PVE_CLOUD: $CI_COMMIT_TAG
#     UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE # here we store the type of the release
#   rules:
#     - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver
#     - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

# downstream_pytest_pve_cloud:
#   stage: deploy
#   needs:
#     - publish_pypi
#   trigger:
#     project: "pve-cloud/pytest-pve-cloud"
#   variables:
#     PY_PVE_CLOUD: $CI_COMMIT_TAG
#     UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE # here we store the type of the release
#   rules:
#     - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver
#     # no rc for pytest lib, same as schemas

# downstream_pxc_provider:
#   stage: deploy
#   needs:
#     - publish_pypi
#   trigger:
#     project: "pve-cloud/terraform-provider-pxc"
#   variables:
#     PY_PVE_CLOUD: $CI_COMMIT_TAG
#     UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE # here we store the type of the release
#   rules:
#     - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver
#     - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

trigger_argo_wf:
  stage: build
  image: tobiashvmz/pve-cloud-ci:202601252000
  script:
    - echo $ARGO_KUBECONFIG_B64 | base64 -d > /tmp/argo-kubeconfig.yml
    - export KUBECONFIG=/tmp/argo-kubeconfig.yml

    - build_type=${CI_COMMIT_TAG%-*}
    - build_increment=${CI_COMMIT_TAG#*-}

    - echo "https://$CI_SERVER_HOST/$CI_PROJECT_NAMESPACE/pve-cloud-pipelines/-/raw/master/argo-dag-wf.yaml?ref_type=heads git_pull_prefix=git@$CI_SERVER_HOST:$CI_PROJECT_NAMESPACE"

    - |
      argo submit --watch \
        -p "git_host=$CI_SERVER_HOST" -p "git_pull_prefix=git@$CI_SERVER_HOST:$CI_PROJECT_NAMESPACE" \
        -p "git_user=$GITLAB_USER_NAME" -p "git_email=$GITLAB_USER_EMAIL" \
        -p "build_increment=$build_increment" -p "build_type=$build_type" \
        https://$CI_SERVER_HOST/$CI_PROJECT_NAMESPACE/pve-cloud-pipelines/-/raw/master/argo-dag-wf.yaml?ref_type=heads

  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
    - if: '$CI_COMMIT_TAG =~ /^rc-[a-z]+$/'


format_source:
  stage: build
  image: tobiashvmz/pve-cloud-pyci:202601090831
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - autoflake --exclude orm --in-place --recursive .
    - black --exclude orm .
    - isort --skip orm .
    # commit the changes
    - |
      if ! git diff --quiet; then
        git add .
        git commit -m "Format and cleanup pipeline"
        git push origin HEAD:$CI_COMMIT_REF_NAME
      else
        echo "Nothing to clean or format!"
      fi
  rules:
    - if: >
        $CI_COMMIT_TAG !~ /^\d+\.\d+\.\d+$/ &&
        $CI_COMMIT_TAG !~ /^\d+\.\d+\.\d+-rc\d+$/ &&
        $CI_COMMIT_TAG !~ /^release-[a-z]+$/ &&
        $CI_COMMIT_TAG !~ /^rc-[a-z]+$/ &&
        $CI_PIPELINE_SOURCE == 'push'
      when: on_success
    - when: never
  resource_group: deploy-prod